.maplibregl-ctrl-top-right, .maplibregl-ctrl-top-left {
  top: 55px;
}

// Remove the default padding from the popup content.
.maplibregl-popup-content {
  padding: 0 !important;
}

// The default for the geocoder control is 50px, which is larger than the rest of the controls.
.maplibregl-ctrl-geocoder.maplibregl-ctrl-geocoder--collapsed {
  width: 30px;
  min-width: 30px;
}
input.mapboxgl-ctrl-geocoder--input.maplibregl-ctrl-geocoder--input {
  height: 30px;
}
.maplibregl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 18px;
  height: 23px;
}

// Turn off the attribution.
.maplibregl-ctrl-bottom-right > details {
  //display: none;
  font-size: 8px;
  > summary {
    //height: 12px;
    //width: 12px;
  }
}

////.maplibregl-popup-content {
//.feature-debug-window {
//  // position the element absolutely
//  // in the bottom left corner.
//  // max width of 1/4 viewport width,
//  // max heigh 1/2 viewport width
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    max-width: 25vw;
//    max-height: 50vh;
//    overflow: auto;
//    background-color: white;
//    padding: 10px;
//    border-radius: 5px;
//    box-shadow: 0 0 15px rgba(0,0,0,0.2);
//    z-index: 1;
//}
