@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

// Import all of Bootstrap's CSS
//var(--bs-offcanvas-width, 800px);
@import "bootstrap/scss/bootstrap";


@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css';

@import 'variables';
@import 'scaffolding';

html {
  min-height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
}
#map {
  height: 100vh;
}

.maplibregl-ctrl-top-right, .maplibregl-ctrl-top-left {
  top: 55px;
}

.maplibregl-popup-content {
  //background: #FFFFFF88 !important;
  padding: 0 !important;
}

.navbar.fixed-top {
  background-color: #FFFFFF00;
}

.snap-marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

//.mapstyles-select {
//  position: absolute;
//  top: 60px;
//  left: 10px;
//  z-index: 1000;
//}

.maplibregl-ctrl-bottom-right > details {
  display: none;
}
