//@font-face {
//  font-family: 'Inter';
//  src: url('../fonts/Inter.ttf');
//}

@import '_variables.scss';
// Import overrides for Bootstrap.
@import "bootstrap/scss/bootstrap";
// Import all of Bootstrap's CSS
@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css';

@import '_maplibregl.scss'; // Overrides for maplibre-gl

// I like big maps. I cannot lie.
body {
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

// Don't visually interrupt or truncate the map.
.navbar.fixed-top {
  background-color: #FFFFFF55;
}

// #catsnap-marker-toggle is the control-group button that
// toggles whether the snap markers are visible.
#catsnap-marker-toggle {
  //-webkit-box-shadow: none !important;
  //box-shadow: none !important;
  //background: none !important;
  border-radius: 50% !important;
  > button {
    border-radius: 50% !important;
  }
}

// Snap markers are mini-catsnaps images.
.snap-marker {
  display: block;
  border: 2px solid white; // $success
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

// I don't want the footer to interrupt map interaction, especially on mobile.
footer.footer.fixed-bottom {
  //border: 1px solid black;
  pointer-events: none;
}

// ... But the cat tracker cards should be clickable.
.with-pointer {
  pointer-events: all !important;
  cursor: pointer;
}

#catstatus-container-nomobile {
  top: 50px !important;
}

// The only modal in use is for showing the cat tracker details on mobile.
// If that changes, you'll need to adjust this to be more specific.
.modal-dialog {
  position: fixed;
  top: 45px;
  right: auto;
  left: auto;
  bottom: auto;
  //width: 100%;
}

.modal-content {
  background: none !important;
  border: none !important;
}

.service-layer-options {
  border: 4px solid aliceblue;
  border-radius: 3px;
}

#activity-color-legend {
  pointer-events: none;
  //position: absolute;
  //bottom: 0;
  padding: 0.5rem;
  background-color: #FFFFFF00;
  border-radius: 0.5rem;
  //z-index: 1;

}

.color-swatch {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin-top: 0.2rem;
  margin-right: 0.38rem;
  margin-left: 0.38rem;
}

.bg-semitransparent {
  background-color: #FFFFFF77;
}
