//@font-face {
//  font-family: 'Inter';
//  src: url('../fonts/Inter.ttf');
//}


@import '_variables.scss'; // Import overrides for Bootstrap.
@import "bootstrap/scss/bootstrap"; // Import all of Bootstrap's CSS
@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css';

@import '_maplibregl.scss'; // Overrides for maplibre-gl

// I like big maps. I cannot lie.
body {
  margin: 0;
  padding: 0;
}
html, body, #map {
  height: 100%;
  width: 100%;
}

// Don't visually interrupt or truncate the map.
.navbar.fixed-top {
  background-color: #FFFFFF00;
}

// Snap markers are mini-catsnaps images.
.snap-marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

// I don't want the footer to interrupt map interaction, especially on mobile.
footer.footer.fixed-bottom {
  //border: 1px solid black;
  pointer-events: none;
}

// ... But the cat tracker cards should be clickable.
.cat-tracker-card {
  pointer-events: all !important;
  cursor: pointer;
}

// The only modal in use is for showing the cat tracker details on mobile.
// If that changes, you'll need to adjust this to be more specific.
.modal-dialog {
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
  //width: 100%;
}
.modal-content {
  background: none !important;
  border: none !important;
}
